/* template for file doc */

@namespace context url('http://www.contextgarden.net/context/export') ;


/* element="delimited" detail="quotation-1" chain="" */

delimited[detail=quotation-1],
div.delimited.quotation-1 {
    display: inline ;
}

/* element="delimited" detail="quote-1" chain="" */

delimited[detail=quote-1],
div.delimited.quote-1 {
    display: inline ;
}

/* element="delimitedcontent" detail="" chain="" */

delimitedcontent,
div.delimitedcontent {
    display: inline ;
}

/* element="delimitedsymbol" detail="" chain="" */

delimitedsymbol,
div.delimitedsymbol {
    display: inline ;
}

/* element="description" detail="footnote" chain="footnote" */

description[detail=footnote],
div.description.footnote {
    display: block ;
}

/* element="descriptioncontent" detail="" chain="" */

descriptioncontent,
div.descriptioncontent {
    display: inline ;
}

/* element="descriptionsymbol" detail="footnote" chain="" */

descriptionsymbol[detail=footnote],
div.descriptionsymbol.footnote {
    display: inline ;
}

/* element="descriptiontag" detail="" chain="" */

descriptiontag,
div.descriptiontag {
    display: inline ;
}

/* element="document" detail="" chain="" */

document,
div.document {
    display: block ;
}

/* element="float" detail="table" chain="table" */

float[detail=table],
div.float.table {
    display: block ;
}

/* element="floatcaption" detail="" chain="" */

floatcaption,
div.floatcaption {
    display: inline ;
}

/* element="floatcontent" detail="" chain="" */

floatcontent,
div.floatcontent {
    display: inline ;
}

/* element="floattext" detail="" chain="" */

floattext,
div.floattext {
    display: inline ;
}

/* element="item" detail="" chain="" */

item,
div.item {
    display: block ;
}

/* element="itemcontent" detail="" chain="" */

itemcontent,
div.itemcontent {
    display: inline ;
}

/* element="itemgroup" detail="enumerate" chain="enumerate" */

itemgroup[detail=enumerate],
div.itemgroup.enumerate {
    display: block ;
}

/* element="itemgroup" detail="itemize" chain="itemize" */

itemgroup[detail=itemize],
div.itemgroup.itemize {
    display: block ;
}

/* element="itemtag" detail="" chain="" */

itemtag,
div.itemtag {
    display: inline ;
}

/* element="section" detail="section" chain="section" */

section[detail=section],
div.section.section {
    display: block ;
}

/* element="section" detail="subsection" chain="subsection" */

section[detail=subsection],
div.section.subsection {
    display: block ;
}

/* element="section" detail="subsubsection" chain="subsubsection" */

section[detail=subsubsection],
div.section.subsubsection {
    display: block ;
}

/* element="sectioncaption" detail="" chain="" */

sectioncaption,
div.sectioncaption {
    display: block ;
}

/* element="sectioncontent" detail="" chain="" */

sectioncontent,
div.sectioncontent {
    display: block ;
}

/* element="sectiontitle" detail="" chain="" */

sectiontitle,
div.sectiontitle {
    display: inline ;
}

/* element="sup" detail="" chain="" */

sup,
div.sup {
    display: inline ;
}

/* element="table" detail="" chain="" */

table,
div.table {
    display: block ;
}

/* element="tablecell" detail="" chain="" */

tablecell,
div.tablecell {
    display: inline ;
}

/* element="tablerow" detail="" chain="" */

tablerow,
div.tablerow {
    display: block ;
}