/* styles for file doc */

@namespace context url('http://www.contextgarden.net/context/export') ;


document,
div.document {
    font-size  : 12pt !important ;
    max-width  : 452.9679pt !important ;
    text-align : left !important ;
    hyphens    : inherited !important ;
}