<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>

<!--

    input filename   : test
    processing date  : 2022-05-24 21:16:17+01:00
    context version  : 2021.03.05 19:11
    exporter version : 0.35

-->

<?xml-stylesheet type="text/css" href="styles/test-defaults.css" ?>
<?xml-stylesheet type="text/css" href="styles/test-images.css" ?>
<?xml-stylesheet type="text/css" href="styles/test-styles.css" ?>

<document author="J. P. Ascher" context="2021.03.05 19:11" date="2022-05-24 21:16:17+01:00" file="test" href="test" language="en" title="Proposal for the abridgment" version="0.35" xmlns:m="http://www.w3.org/1998/Math/MathML">
 <metadata>
 </metadata>
Proposal for the abridgment 
 <break/>
J. P. Ascher 
 <break/>
May 2022 
 <break/>
I all, we all
 <break/>
En dash: – Em dash: — Just a hyphen: -</document>