/* styles for file doc */

@namespace context url('http://www.contextgarden.net/context/export') ;


document,
div.document {
    font-size  : 12pt !important ;
    max-width  : 469.75502pt !important ;
    text-align : justify !important ;
    hyphens    : inherited !important ;
}