<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>

<!--

    input filename   : doc
    processing date  : 2023-03-09 06:12:54-06:00
    context version  : 2021.03.05 19:11
    exporter version : 0.35

-->

<?xml-stylesheet type="text/css" href="styles/doc-defaults.css" ?>
<?xml-stylesheet type="text/css" href="styles/doc-images.css" ?>
<?xml-stylesheet type="text/css" href="styles/doc-styles.css" ?>

<document author="J. P. Ascher, jpa4q@virginia.edu" context="2021.03.05 19:11" date="2023-03-09 06:12:54-06:00" file="doc" href="doc" language="en" title="Talk for \\\\quotation {Roundtable: Formats, Numbers, Parts, Periodicals, and Serials}" version="0.35" xmlns:m="http://www.w3.org/1998/Math/MathML">
 <metadata>
 </metadata>
Talk for <delimited detail="quotation-1"><delimitedsymbol symbol="left">“</delimitedsymbol><delimitedcontent>Roundtable: Formats, Numbers, Parts, Periodicals, and Serials</delimitedcontent><delimitedsymbol symbol="right">”</delimitedsymbol></delimited>
 <break/>
J. P. Ascher, jpa4q@virginia.edu 
 <break/>
10 March 2023 
 <section chain="section" detail="section" explicit="paper-title" id="paper-title" implicit="1" level="3" reference="paper-title">
  <sectioncaption>
   <sectiontitle>Paper title</sectiontitle>
  </sectioncaption>
  <sectioncontent>
John Lowthorp&apos;s 1705 Abridgment of the Philosophical Transactions
   <break/>
Sentences in bold are read. 
   <break/>
Those not are additional background. 
   <section chain="subsection" detail="subsection" explicit="setting-the-stage" id="setting-the-stage" implicit="2" level="4" reference="setting-the-stage">
    <sectioncaption>
     <sectiontitle>Setting the stage</sectiontitle>
    </sectioncaption>
    <sectioncontent>
I will be drawing your attention to John Lowthorp&apos;s 1705 abridgment of the Philosophical Transactions not just because of its interest in itself, but as a different kind of the paper laboratory discussed by Doina-Cristina Rusu and Christoph Lüthy in examining Francis Bacon&apos;s Sylva Sylvarum. The paper convinces me that William Rawley published the raw notes Bacon had been assembling. Bacon meant his notes as a private paper laboratory from which to draw more works, so Rawley produced a disordered book from his paper laboratory.
     <break/>
This kind of paper laboratory contrasts with more deliberate attempts to render collections of notes into published works. The tradition of commenting on Pliny, arguably begun by Pliny himself in his proems, is continued with Ibn Sina&apos;s commentary on Aristotle that in Albertus Magnus&apos;s paraphrasing analysis becomes its own source work, eventually becoming something to comment on in its turn.
     <break/>
Similarly, and later, we see Pierre Bayle&apos;s notes and Nouvelles de la république des lettres of 1684 to 1687 maturing into his 1697 Historical and Critical Dictionary that describes not the things and people of its headnotes, but the errors others have made. It is also a sort of paper laboratory describing the errors in other books, but public. Over time, the necessary headnotes on which he hangs his voluminous footnotes of errors become the established explanations for phenomenon.
     <break/>
I think a useful way to think of the paper laboratory phenomenon, public or private, is as a <delimited detail="quotation-1"><delimitedsymbol symbol="left">“</delimitedsymbol><delimitedcontent>literary technology</delimitedcontent><delimitedsymbol symbol="right">”</delimitedsymbol></delimited> in the sense of a technique for solving a writing and editing problem. One must begin writing on some topic, continue in some order, and finish at some point. Particular ways of doing this form a literary technology. Paper laboratories are just one kind.
     <break/>
I contrast literary technology with an <delimited detail="quotation-1"><delimitedsymbol symbol="left">“</delimitedsymbol><delimitedcontent>intellectual technology,</delimitedcontent><delimitedsymbol symbol="right">”</delimitedsymbol></delimited> which appears to describe phenomenon on their intellectual basis. The longstanding debates on Aristotle&apos;s Categories indulge in just this: what is the intellectual aim, completeness, or method for producing these?
     <break/>
Said in these terms, Rusu and Lüthy&apos;s point is that Bacon&apos;s literary technology was dressed up as an intellectual technology by Rawley, and accepted as such. The interesting point here is not that it started as a literary technology, which any large project must have, but that Bacon did not intend to present this particular system as an intellectual technology.
     <break/>
This point interests me because I think it requires a definitive negative: Rusu and Lüthy&apos;s argument works because they convince me that Bacon would not have wanted the book made public. This contrasts with other paper laboratories, or literary technologies, that became public by design. Their literary origins are frequently lost as the sheer labor of reproducing encyclopedic work means that its practically more effective to accept an intellectually imperfect literary technology than produce a fresh effort.
     <break/>
But, let me be specific by explaining how Lowthorp managed to produce his classification of science.    </sectioncontent>
   </section>
  </sectioncontent>
 </section>
 <section chain="section" detail="section" explicit="lowthorps-abridgement-and-classification" id="lowthorps-abridgement-and-classification" implicit="3" level="3" reference="lowthorps-abridgement-and-classification">
  <sectioncaption>
   <sectiontitle>Lowthorp&apos;s Abridgement and Classification</sectiontitle>
  </sectioncaption>
  <sectioncontent>
John Lowthorp abridged and classified the topics of the earliest scientific journal, the Philosophical Transactions of the Royal Society of London. Covering the Transactions from 1665 to 1700, his work received the imprimatur of the Royal Society on 12 May 1705. 
   <break/>
The Licensing Act of 1662 had required such imprimaturs. But the act lapsed in 1695, so it is a bit unusual for such an imprimatur to appear in a book this late. It is even more unusual that Henry Jones&apos;s continuation of Lowthorp&apos;s abridgment, covering the Transactions from 1700 to 1720, received the Society&apos;s imprimatur on 27 October 1721. The Copyright Act of 1710 fundamentally altered printing authority in England, so an imprimatur would have been weirdly out of date.
   <break/>
Yet the work of these two abridgments become increasingly prominent. Lowthorp&apos;s abridgment achieves five, separate, numbered editions between 1705 and 1749.<descriptionsymbol detail="footnote" insert="1"><sup>1</sup></descriptionsymbol> Jones&apos;s continuation achieves three, separate, numbered editions between 1721 and 1749<descriptionsymbol detail="footnote" insert="2"><sup>2</sup></descriptionsymbol> even though it had a competing abridgment by Benjamin Motte sponsored by the printers to the Royal Society.<descriptionsymbol detail="footnote" insert="3"><sup>3</sup></descriptionsymbol> These continuations begin a series of abridgments covering the dated numbers of the Transactions until 1750.<descriptionsymbol detail="footnote" insert="4"><sup>4</sup></descriptionsymbol> The last volume of he series, abridged by John Martyn, Professor of Botany at Cambridge, is dated 1756 in the imprint. Several other competing abridgments appeared between 1705 and 1756, but those that achieved multiple editions were either authorized by the society or written by Fellows of the society previously authorized. Thus these authorized abridgments become the standard abridgments of record. In 1753, the society takes over the publication of the Transactions, which had been a special project for the succeeding Secretaries, and this series of variously authorized 
   <description chain="footnote" detail="footnote" insert="1">
    <descriptiontag><sup>1</sup> </descriptiontag>
    <descriptioncontent>This doesn&apos;t count nonce editions of collections of the abridgments which might include volumes from any of the five editions 1st, ESTC T103703; 2nd, ESTC T103702; 3rd, ESTC N12579; 4th, ESTC T153711; 5th, ESTC T199443.</descriptioncontent>
   </description>
   <description chain="footnote" detail="footnote" insert="2">
    <descriptiontag><sup>2</sup> </descriptiontag>
    <descriptioncontent>1st, ESTC T103708; 2nd, ESTC T103707; 3rd, T199438.</descriptioncontent>
   </description>
   <description chain="footnote" detail="footnote" insert="3">
    <descriptiontag><sup>3</sup> </descriptiontag>
    <descriptioncontent>ESTC T103704.</descriptioncontent>
   </description>
   <description chain="footnote" detail="footnote" insert="4">
    <descriptiontag><sup>4</sup> </descriptiontag>
    <descriptioncontent>1719–33, ESTC T103705; 1732–44, ESTC T103701; 1743–50, ESTC T103700.</descriptioncontent>
   </description>
abridgments ceases. The next abridgment of 1809 describes the Transactions from 1665 to 1800 anew and presents it in a chronological order, rather than classifying it.<descriptionsymbol detail="footnote" insert="5"><sup>5</sup></descriptionsymbol>
   <break/>
Lowthorp&apos;s classification scheme, however, persists. Paul Henry Maty&apos;s General Index to the Philosophical Transactions of 1787 provides an alphabetical list of topics keyed to the volumes of the series begun by Lowthorp and continued in the authorized abridgments to 1756.<descriptionsymbol detail="footnote" insert="6"><sup>6</sup></descriptionsymbol> While he does not mention the classification scheme provided by Lowthorp, we know he must have considered it for his classification because he references books within it. Furthermore, readers of that index might have had recourse to their abridgments rather than the originals, so would have seen the original scheme too.
   <description chain="footnote" detail="footnote" insert="5">
    <descriptiontag><sup>5</sup> </descriptiontag>
    <descriptioncontent>Charles Hutton, George Shaw, and Richard Pearson, The Philosophical Transactions of the Royal Society of London from Their Commencement in 1665 to the Year 1800 Abridged, with Notes and Biographical Illustrations, 18 vols. (London: C.; R. Baldwin, 1809).</descriptioncontent>
   </description>
   <description chain="footnote" detail="footnote" insert="6">
    <descriptiontag><sup>6</sup> </descriptiontag>
    <descriptioncontent>ESTC T108310</descriptioncontent>
   </description>
   <section chain="subsection" detail="subsection" explicit="lowthorps-scheme-is-as-follows" id="lowthorps-scheme-is-as-follows" implicit="16" level="4" reference="lowthorps-scheme-is-as-follows">
    <sectioncaption>
     <sectiontitle>Lowthorp&apos;s scheme is as follows:</sectiontitle>
    </sectioncaption>
    <sectioncontent>
I. Mathematics: 
     <break/>
1. Geometry, algebra, arithmetic; 2. Trigonometry, surveying; 3. Optics; 4. Astronomy; 5. Mechanics, acoustics; 6. Hydrostatics, hydraulics; 7. Geography, navigation; 8. Architecture, ship-building; 9. Perspective, sculpture, painting; 10. Music.
     <break/>
II. Physiology: 
     <break/>
1. Meteorology, pneumatics; 2. Hydrology; 3. Mineralogy; 4. Magnetics; 5. Zoology.
     <break/>
III. Anatomy, physic, chemistry: 
     <break/>
1. Anatomy, physic: i. Structure, external parts, and common teguments; ii. Head; iii. Thorax; iv. Abdomen; v. Humors and general affections; vi. Bones, joints, muscles; vii. Monsters; vii. Period of human life; 2. Pharmacy, chemistry.
     <break/>
IV. Philology, miscellanies: 
     <break/>
1. Philology, grammar; 2. Chronology, history, antiquities; 3. Voyages and travels; 4. Miscellaneous.
     <break/>
Jones’s continuation follows a similar outline, as do all the succeeding volumes:
     <break/>
1. Mathematical papers: 
     <break/>
1. Geometry, arithmetic, algebra, logarithmotechny; 2. Optics; 3. Astronomy; 4. Mechanics, acoustics; 5. Hydrostatics, hydraulics; 6. Geography, navigation; 7. Music.
     <break/>
2. Physiological papers: 
     <break/>
1. Physiology, meteorology, pneumatics; 2. Hydrology; 3. Mineralogy; 4. Magnetics; 5. Agriculture, botany.
     <break/>
3. Zoology, &amp;c. anatomy, physic, chymistry: 
     <break/>
1. Zoology, and the anatomy of animals; 2. Anatomy, diseases: 1. General and skin; 2. Head; 3. Neck, thorax, heart; 4. Abdomen; 5. Humours and general affections of the body; 6. Bones, joints, and muscles; 7. Pharmacy, chymistry.
     <break/>
4. Philology, miscellanies: 
     <break/>
1. Manuscripts, printing; 2. Chronology, history, antiquities; 3. Travels, voyages; 4. Miscellaneous.    </sectioncontent>
   </section>
   <section chain="subsection" detail="subsection" explicit="proposing-the-abridgment" id="proposing-the-abridgment" implicit="17" level="4" reference="proposing-the-abridgment">
    <sectioncaption>
     <sectiontitle>Proposing the abridgment</sectiontitle>
    </sectioncaption>
    <sectioncontent>
Having established himself as a member of the Royal Society, Lowthorp eventually proposes two ambitious projects simultaneously.
     <break/>
[
     <break/>
Page 20:]
     <break/>
[
     <break/>
…]
     <break/>
[
     <break/>
centered:] 5 May 1703.
     <break/>
[
     <break/>
…]
     <break/>
[
     <break/>
Page 21:]
     <break/>
[
     <break/>
…]
     <break/>
 M<sup>r</sup> Lowthorp&apos;s written Proposalls for Instruments design&apos;d for advancing Astro- nomy, &amp; perfecting Navigation , &amp; for Experiments of good Use in Mechanics, Optics, [<delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>for</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> inserted between <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>&amp;</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> and <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>Experiments</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited>, i.e. <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>&amp; ‸<sup>for</sup> Experiments</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited>] &amp; Physics. He was desired by the Society, in the first place to prosecute those Ex- periments which relate to Telescopes, and to bring to the next Meeting, a List of such Experiments as are neceſsary thereunto.
     <break/>
 M<sup>r</sup> Lowthorp also presented a Proposal for Printing an Abridgement of the Philosophical Transactions, together with a Printed Specimen of such an Abridgement. His Specimen &amp; this Design were approv’d by the Society, &amp; he was desired to proceed therein.
     <break/>
[
     <break/>
…]<descriptionsymbol detail="footnote" insert="7"><sup>7</sup></descriptionsymbol>
     <break/>
The length of these shortest effective minutes attest to the complexity of his proposals. The first one is the topic for another paper, but the second concerns us here. Note that a great deal is happening. He reads a proposal and he presents a specimen of the abridgment to show the Society what it would look like when completed years later. The Society approves not just his design, but his specimen, and desires him to proceed. There are three actions here and three responses: 
     <break/>
he solicits feedback on the intellectual plan for his work (his <delimited detail="quotation-1"><delimitedsymbol symbol="left">“</delimitedsymbol><delimitedcontent>design</delimitedcontent><delimitedsymbol symbol="right">”</delimitedsymbol></delimited>), he solicits feedback on the typographical design for his work (his <delimited detail="quotation-1"><delimitedsymbol symbol="left">“</delimitedsymbol><delimitedcontent>specimen</delimitedcontent><delimitedsymbol symbol="right">”</delimitedsymbol></delimited>), and he implicitly seeks administrative approval to proceed with the project. The minutes do not record the discussion, but he presumably got feedback on the intellectual plan and the typographical design as part of the approval process. His manuscript proposal differs from the later printed one, which must reflect changes that he decided on based on this meeting. The Society could have merely approved of the idea, or the look, and not encouraged him to proceed, but they ask him to produce the work. It wasn&apos;t unusual to present proposals for new works to the Society; it was, however, unusual for the Society to respond as a whole with encouragement.
     <break/>
Let&apos;s pause at this meeting, almost unknowable, and think about what Lowthorp must have accomplished to propose his project. Beyond his election to membership, a specimen means that he has completed a portion of the work, settled on a printing bookseller who could set mathematical type, identified entrepreneurial booksellers to finance the project, and found a mechanism for distribution. The Society doesn&apos;t typically fund projects, so if he got approval---as he does---he must have been prepared to carry out the work. The specimen itself suggests that he had already begun negotiations with the booksellers around the work, giving them some of the copy text for the abridgment and deciding on the style for headings, notes, and possibly the paper. 
     <break/>
The apparent casualness of <delimited detail="quotation-1"><delimitedsymbol symbol="left">“</delimitedsymbol><delimitedcontent>also presented a proposal</delimitedcontent><delimitedsymbol symbol="right">”</delimitedsymbol></delimited> covers up the significant scale, cost, and effort in planning a major, three volume reference work. Why does he propose the abridgment after proposing a sequence of his more typical work on instruments? He make very little progress on the instruments it seems. Did he mean to give himself two large projects or did he propose the first as cover for the second? It&apos;s likely he profited from his abridgment, so if he was willing to sacrifice one project it seems like it would have been the first. Did he propose the second after the first, easier yes, like a good salesman?
     <break/>
Much of the social work around succeeding at this proposal is almost invisible to us now. We don&apos;t know the meetings he had in advance, if any. We don&apos;t know if he recruited allies to support his proposal or not. We don&apos;t know if he had enemies to overcome in proposing this project. However, it is a far bigger project than this short minute suggests and involves a great deal of revenue to accomplish. 
     <section chain="subsubsection" detail="subsubsection" explicit="the-legal-context" id="the-legal-context" implicit="20" level="5" reference="the-legal-context">
      <sectioncaption>
       <sectiontitle>The Legal Context</sectiontitle>
      </sectioncaption>
      <sectioncontent>
The Society came into being with a series of administrative documents, first a grant of incorporation in 1661, a first letters patent in 1662, revised letters patent in 1663, and a third revision in 1669. Both the first and second letters patent give the Society special privileges beyond a normal corporation. The Licensing of the Press Act of 1662 provided strong controls for printing and required that works to be printed by reviewed by a censor to the press, or licensor. Thus normal corporations could not decide on what documents to print, nor send them to their own printer. The Society&apos;s second letters patent grants both deciding power and the right to a printer,
       <break/>
<delimited detail="blockquote-1"><delimitedcontent>And further, of our more ample special grace and of our certain knowledge and mere motion, we have given and granted, and by these presents for us, our heirs, and successors do give and grant to the aforesaid President, Council, and Fellows of the aforesaid Royal Society, and to their successors for ever, or to any twenty-one or more of them (of whom we will the President for the time being, or his Deputy, to be always one), or to the major part of the aforesaid twenty-one or more, full power and authority from time to time to elect, nominate, and appoint one or more Typographers or Printers, and Chalcographers or Engravers, and to grant to him or them, by a writing sealed with the Common Seal of the aforesaid Royal Society, and signed by the hand of the President for the time being, faculty to print such things, matters, and affairs touching or concerning the aforesaid Royal Society, as shall have been committed to the aforesaid Typographer or Printer, Chalcographer or Engraver, or Typographers or Printers, Chalcographers or Engravers, from time to time, by the President and Council of the aforesaid Royal Society, or any seven or more of them (of whom we will the President for the time being, or his Deputy, to be one), or by the major part of the aforesaid seven or more; their corporal oaths first to be taken, before they be admitted to exercise their offices, before the President and Council for the time being, or any seven or more of them in the form and effect last specified; to which the same President and Council, or to any seven or more of them, we do give and grant by these presents full power and authority to administer the oaths aforesaid.<descriptionsymbol detail="footnote" insert="8"><sup>8</sup></descriptionsymbol><description chain="footnote" detail="footnote" insert="8"><descriptiontag><sup>8</sup> </descriptiontag><descriptioncontent><itemgroup chain="enumerate" detail="enumerate" level="1" packed="yes" symbol="n"><item><itemtag>(11) </itemtag><itemcontent>of pdf at https://royalsociety.org/about-us/governance/charters/ <delimited detail="quotation-1"><delimitedsymbol symbol="left">“</delimitedsymbol><delimitedcontent>Translation of Second Charter, A.D. 1663</delimitedcontent><delimitedsymbol symbol="right">”</delimitedsymbol></delimited></itemcontent></item></itemgroup> </descriptioncontent></description></delimitedcontent></delimited>
       <break/>
The careful wording outlines that the Society has the right---for all time---to bind printers and engravers to the Society by having them swear loyalty. They can then send materials to those printers and engravers to be printed. This is accomplished by a sealed order from <delimited detail="quotation-1"><delimitedsymbol symbol="left">“</delimitedsymbol><delimitedcontent>President and Council … or any seven or more of them …, or by the major part.</delimitedcontent><delimitedsymbol symbol="right">”</delimitedsymbol></delimited> The passage outlines a flexible procedure where the Council and President can identify particular printers, write up terms of their work, deliver an oath, and send them materials to be printed. These materials are <delimited detail="quotation-1"><delimitedsymbol symbol="left">“</delimitedsymbol><delimitedcontent>things, matters, and affairs touching or concerning the aforesaid Royal Society.</delimitedcontent><delimitedsymbol symbol="right">”</delimitedsymbol></delimited> Early on, the Society asks a lawyer to flesh this out into their statues, which describe the particular procedure for printing as well,
       <break/>
<delimited detail="blockquote-1"><delimitedcontent>Chap. XIII - Of the Printer to the Society<break/>I. The office of the Printer shall be to take care for the printing and vending such books, besides catalogues, and such other things, as shall be committed to him by order of the Society or Council ; in the doing of which he shall from time to time observe, and submit unto the directions and orders of the Council, both as to the correctness of the edition, the number of copies to be printed, the form or volume, the goodness of the paper, character, figures and diagrams, as likewise the price at which such books are to be sold ; nor shall he reprint any of the said books, or print them in any translation or epitome, without particular leave from the Council. […]<descriptionsymbol detail="footnote" insert="9"><sup>9</sup></descriptionsymbol><description chain="footnote" detail="footnote" insert="9"><descriptiontag><sup>9</sup> </descriptiontag><descriptioncontent>cite the Records book- you have this in your directories.</descriptioncontent></description></delimitedcontent></delimited>
       <break/>
Thus the Society establishes the basic procedure to work with their printer. After following their letters patent, having the printer swear their loyalty to the project, they then could send orders from the Society or the Council. Those bodies could specify corrections, edition size, form, paper, and the typography, along with the price for the books. This procedure remains in place until the mid ninteenth century. The last sentence is particularly important to Lowthorp&apos;s abridgment, the Society&apos;s printer could not reprint or print an epitome without the Council&apos;s authorization.
       <break/>
While the letters patent and the statues do not say that the Council owns the copy to their own work, it does prevent the printer from reprinting it without explicit authorization, effectively functioning as copy. Moreover, unlike the terms of the Copyright Act of 1710, the Council controls translations and epitomes as well. Generally, abridgments and translations generated new copy, and thus a new right, but here the older letters patent does not allow this. These statutes remained in force after the lapse of the Licensing Act in 1695, so while printers themselves no longer faced restriction, the Society possessed a special right to their own copy.
       <break/>
The Transactions had long been published using this right. As we&apos;ve seen, it had become typical for material to be brought to the Society&apos;s meeting, read, and for the majority to vote to authorize its printing. Technically, the Transactions were authored by the Secretary, but they required the license of the Council or Society. Early on, the proces was more formal. Henry Oldenburg would bring the actual copy to the Council, who would appoint two members to review it, and then authorize printing with the seal of the Society. However, at this point the basic authority still existed and required an order. This is one of the important functions of the minutes where the Society orders the printing of something.
       <break/>
Lowthorp couldn&apos;t actually abridge the Transactions without authority from the Society. Yet there was no particular law in place restricting the reprinting of anything. To deal with this issue, booksellers formed a conger of major sellers that respected each other&apos;s copy. Their enforcement mechanism was to blacklist any distributing bookseller who sold what they would consider pirated copy and since their conger included major booksellers of the day, this would have cost the distributing bookseller a great deal of business.[^29] 
       <break/>
Lowthorp, thus, needed to satisfy two separate regulatory mechanisms: he needed to get the Council to approve the reprint and he needed to convince a member of the bookselling conger to take the project on.
       <break/>
The reprints of Lowthorp&apos;s abridgment don&apos;t advertise revisions, nor do they seem to be revised. It seems that Lowthorp, after putting the abridgment together, is no longer involved. This would be in keeping with copyright as it developed after 1710, when the printing of the text awarded copyright to the entrepreneurial bookseller. This also dealt with a problem where President Broucnkner had licensed the Transactions to John Martyn a bit earlier. The entrepreneurial booksellers considered the Stationers&apos; Register a record of copyright, so they might not have accepted just any bookseller reprinting the Transactions. An abridgment, however, was a new work in their tradition, but a reprint in the Society&apos;s tradition.
       <break/>
Lowthorp&apos;s proposal then solves a number of problems: the Transactions could be reprinted in a form that would satisfy the legal claims of all the people involved. As we will see, his abridgment is much more like a reprint than it would appear at first. More than proposing a new work, Lowthorp managed to propose a just-new-enough work that fell between incompatible copyright regulations. His proposal carefully makes a near-reprint look new and exciting.      </sectioncontent>
     </section>
     <description chain="footnote" detail="footnote" insert="7">
      <descriptiontag><sup>7</sup> </descriptiontag>
      <descriptioncontent>UkLoRS JBO/11/30 (pp. 20–21)</descriptioncontent>
     </description>
    </sectioncontent>
   </section>
  </sectioncontent>
 </section>
 <section chain="section" detail="section" explicit="the-manuscript-proposal" id="the-manuscript-proposal" implicit="25" level="3" reference="the-manuscript-proposal">
  <sectioncaption>
   <sectiontitle>The Manuscript Proposal</sectiontitle>
  </sectioncaption>
  <sectioncontent>
The original manuscript proposal is kept within the Classified Papers at the Royal Society, a series appropriately enough, reorganized in 1720s along the same classification scheme developed by Lowthorp.<descriptionsymbol detail="footnote" insert="10"><sup>10</sup></descriptionsymbol> The volume contains a number of book-related manuscripts and this proposal is the 59th item. It is written on a bifolium, 2<sup>o</sup>: χ<sup>2</sup>; 4 pages, [unnumbered, pp. 1-4], on paper watermarked with the London coat of arms (Churchill 239--244)<descriptionsymbol detail="footnote" insert="11"><sup>11</sup></descriptionsymbol>and countermarked <delimited detail="quotation-1"><delimitedsymbol symbol="left">“</delimitedsymbol><delimitedcontent>C T</delimitedcontent><delimitedsymbol symbol="right">”</delimitedsymbol></delimited> (stock, % 13 | 17 | 24 | 25 | 2 [ 23 | 23 ] 1 | 25 | 24 | 24 | 24 | 25 | 21 [ 4 | 6 ] 15 [ 3 | 6 ] 19 | 24 | 23 | 16 % );<descriptionsymbol detail="footnote" insert="12"><sup>12</sup></descriptionsymbol> the leaf measures 301 × 194 mm and has 33 lines (on p. 2), in cursive, with heavier strokes at the ends of words and on descenders. Page 2 continues across the gutter onto p.3 at the ends of some lines, suggesting this was written open to both pages. It is dated <delimited detail="quote-1"><delimitedsymbol symbol="left">‘</delimitedsymbol><delimitedcontent>May 5: 1702.</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> on p. 4 and <delimited detail="quote-1"><delimitedsymbol symbol="left">‘</delimitedsymbol><delimitedcontent>Apr. 12. 1703</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> on p. 1. It seems likely that 21 April 1703 reflects Lowthorp&apos;s dating and 5 May 1702 is later, perhaps written by the Secretary at the meeting where it was read. The year, 1702, is almost certainly wrong. The inner margin of p. 1 is discolored with its, presumably, previous pasting in another guard book. There are inked fingerprints on p.1, possibly oil-based printers&apos; ink by the spread and show-through. Page 4 is faintly discolored into four folded panels measuring 81 × 194 mm. In the lower left of p.1 a penciled cross, probably Dr. Stacks&apos;s, indicates this item has been counted. Modern penciled numbers <delimited detail="quote-1"><delimitedsymbol symbol="left">‘</delimitedsymbol><delimitedcontent>175</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> on p. 1 and <delimited detail="quote-1"><delimitedsymbol symbol="left">‘</delimitedsymbol><delimitedcontent>176</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> on p. 3 refer to the foliation of the present volume.
   <break/>
Beyond the range of subscriptions and docketing on the item to record its location and movement through the Society&apos;s archive, the text is Lowthorp&apos;s. I transcribe it at length below because it differs significantly from the printed version and because evidence of proposals for the production of large reference works in the eighteenth century are scarce.
   <break/>
[
   <break/>
Next seven lines, centered:] Apr. 12. 1703
   <break/>
Propoſalls for Printing The Philosophicall Transactions and Collections [pen skip after <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>Transactions</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited>] To the End of the Year j700. Abridg&apos;d and Diſpoſ&apos;d under Generall Heads in III. Volumes.
   <break/>
By J. Lowthorp. M.A.&amp;F.R.S. [pen skip before <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>M.A.</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited>]
   <break/>
The Philoſophicall Transactions are well known to be an Excellent Regiſter of many Valuable Experiments, and a Cu⹀ ⹀rious Collection of such Diſcourſes , as being too ſhort to be Printed 
   <description chain="footnote" detail="footnote" insert="10">
    <descriptiontag><sup>10</sup> </descriptiontag>
    <descriptioncontent>Cite this!! CMO/3/84</descriptioncontent>
   </description>
   <description chain="footnote" detail="footnote" insert="11">
    <descriptiontag><sup>11</sup> </descriptiontag>
    <descriptioncontent>Cite Churchill</descriptioncontent>
   </description>
   <description chain="footnote" detail="footnote" insert="12">
    <descriptiontag><sup>12</sup> </descriptiontag>
    <descriptioncontent>This notation uses the pipe to indicate a chainline, square brackets to indicate a watermark, and a percent sign to indicate the deckle edge. See David L. Vander Meulen, “The Identification of Paper Without Watermarks: The Example of Pope&apos;s Dunciad,” Studies in Bibliography 37 (1984): 58–81.</descriptioncontent>
   </description>
alone, were in great Danger of being loſt: And have been publiſhed almoſt every Month (some few Years of Interruption excepted) since the begining of the Year i665, by the particular Encouragement of the Royall Society . But the generall Appro ⹀bation they have met with, both at home and abroad , has long since made them so scarce , that a compleat Set is not to be pro⹀ ⹀cur&apos;d without much trouble ,and not to be purchaſ&apos;d under 15.£. And yet the vaſt Bulk of 22. thin Volumes in 4to. to which they are swell&apos;d, and that want of Connection which could — not be avoided in this manner of Communicating such a Mul⹀ ⹀titude of independent Papers , make it altogether unadviſeable to Reprint them in their preſent Form . The Author therefore of this Abridgement , conceives it may be some Service to the Publique , to Contract them into a leſs Compaſs; and to Range and Diſpoſe them in a better order, under Generall Heads: In the Execution whereof, He (hath for the moſt part ) confin&apos;d himſelf to theſe Rules.
   <break/>
 i. He has divided the whole Work into 3. Volumes; The First contains all the Mathematicall Papers; The Second the — Phyſiologicall; and the First part of the 3d thoſe that are Medicall, the later part of it being reſerved for the [Page 2:] the Phiylologicall and such Miſcellaneous Papers as cannot [<delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>Phiylologicall</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> corrected from <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>Phylologicall</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol> </delimited>by overwriting] properly be reduc&apos;d to any of the former Claſſes. Each of theſe Volumes are subdivided into Chapters , and Generall Heads , under which each Paper is inſerted in the beſt Order their — great Variety will admit of.
   <break/>
 2. He does not think it neceſſary in this Abridgement to retain the Accounts of Books which are added to the End of — each of the Tranſactions , since the Books themſelves are either long ago common in the Hands of such Readers as have Occaſion [tail on <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>n</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> extends to next page] to uſe them , or so near loſt that few will be at the trouble to search for them . Yet that the Inquiſitive may have some Notice of them , He has d added to the End of each Chapter a Catalogue [<delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>has d</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> corrected from <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>had</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> by overwriting] of such of them as Treat profeſtly and principally of that Subject [blot over <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>at</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> in <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>that</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited>] of that Chapter.
   <break/>
 3. The Additions , Emendations, and Refutations , of Books He does not think neceſſary to be retained here, becauſse such remarks can be only serviceable to thoſe who have the Books . And therefore He contents himſelf with Directing his Readers to the Tranſactcions [pen skip over <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>e</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> in <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>Directing</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited>; <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>Tranſactcions</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol> </delimited>corrected from <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>Tranſaccions</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> by overwriting] themſelves for such Particulars .
   <break/>
 4. There are many Papers which were very Curious at the times [tail of <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>s</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> extends to next page] of their Publication(,as the Calculations of Eclipſes , Lunar [opening parenthesis overwrites comma] Appulſes , Satellite Eclipſes , Tide Tables , and some others of that kind), which are now uſeleſs . Yet to do Juſtice to their Authors [closing parenthesis overwrites comma; tail of <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>s</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> extends to next page] the Titles are inſerted in their proper places.
   <break/>
 5. There are another sort of Papers here Omitted which are [dot over first <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>h</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> in <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>which</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited>; tail of <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>e</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol> </delimited>extends to next page] alſo very Curious viz. Inquiries and Directions , upon severall Subjects , and for places seldom viſited , drawn up and diſperſed by Order of the Royall Society · But there being very few who have any Oportunity of satiſfying either themſelves or others in such Particulars , The Author thinks that the Anſwers already given to many of the Enquiries , and the other Diſcourſes upon the same or the like Subjects here retained , will sufficiently supply this want . And therefore he chuſes to recommend it to [Page 3:] the Gentlemen of the Royall Society themſelves to Reprint thoſe Ingenious Papers, and to put them into such Hands as may probably have an Oportunity to make them suitable Returns , rather then to swell theſe Volumes which are deſigned for more gGenerall uſe. In the [<delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>gGenerall</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> corrected from <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>generall</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> by overwriting] mean time He has not fail&apos;d to inſert the Titles of theſe , as well [pen skip between <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>has</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> and <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>not</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited>] as of all other Papers Omitted, at the end of each Chapter to which they properly belong.
   <break/>
 6. He has been very Carefull , in Abridging the remaining Papers, to preſerve the Sence of their Authors entire, and to relate the Hiſtories of Facts with all the Materiall Circumſtances and uſefull Reaſonings thereon . But many of thoſe Papers being writ in the form of Letters and often interſperſed with perſonall Addreſſes; [second d in <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>Addreſſes</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> inserted, Ad‸<sup>d</sup>reſſes] And others of them being frequently interrupted with long Excurſi⹀ ⹀ons and Citations of Books, which for the moſt part rather Amuſe the Reader than either Inſtruct him or Illuſtrate the Subject; This Author humbly hopes that none will think themſelves Injured whilſt He takes a modeſt Liberty of Pruning such Luxuriances .
   <break/>
 7. To cloſe in some Meaſure one of the Chaſmes in the Tranſactions , viz. between the Years i678 and i683. He hath inſe—rt [dash overwrites <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>rt</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> in inſe—rt’] ⹀ed , in their proper places , Dr Hook&apos;s Philoſophicall Collections, being a Work of the same kind and Publiſh&apos;d by him during that Intervall of time.
   <break/>
 8. To make the whole Work more compleat He will add such Ind⹀ ⹀dexes both of Authors and Subjects as Shall be thought of any [<delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>⹀dexes</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> corrected by canceling an apostrophe from <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>⹀dexe’s</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited>] uſe or Advantage to the Readers.
   <break/>
In short the Author of this Abridgement profeſſes that He hath every where deſign&apos;d (according to the beſt of his Under⹀ ⹀ſtanding) to Omit nothing that would be of any Service to the greateſt part of the Readers , and to Burthen them with nothing that could be spar&apos;d without manifeſt Prejudice to the Sence of the severall Ingenious Authors : And that he hath carefully endeavoured that none of their Papers ſhould suffer by paſſing through his Hands.
   <break/>
The manuscript has corrections throughout, some which do not reflect a change in pronunciation but a correction in spelling. The presence of inky fingerprints suggests that this may have been used to set the printed version of the proposal, but it differs significantly as we will see, so it&apos;s also possible this was copied. The revisions, however, suggest that this final draft was presented verbally. The Society employed amanuenses to provide fair copies of texts, to a text with this many corrections would have looked odd against the more professional meeting minutes. Since the document has a function of persuasion, it seems unlikely that it would have been presented in a less than perfect manner.
   <break/>
The text carefully argues in favor of the abridgment, saying both that the Transacations to 1700 are too small and thus might be lost, but also very expensive, and also very large. The phrase <delimited detail="quotation-1"><delimitedsymbol symbol="left">“</delimitedsymbol><delimitedcontent>vast Bulk of 22 thin volumes</delimitedcontent><delimitedsymbol symbol="right">”</delimitedsymbol></delimited> seems to capture the rhetorical uncertainty of the situation: Lowthorp needs to argue that the set is too big to reprint as a whole, but that its so small that it might be lost. He further argues that the chronological order of the papers itself means they shouldn&apos;t be reprinted in their current form. A classification scheme would make them easier to read for both the Society and the public. The proposal deftly switches from the subjunctive to the indicative, from <delimited detail="quotation-1"><delimitedsymbol symbol="left">“</delimitedsymbol><delimitedcontent>conceives it may be some service</delimitedcontent><delimitedsymbol symbol="right">”</delimitedsymbol></delimited> to <delimited detail="quotation-1"><delimitedsymbol symbol="left">“</delimitedsymbol><delimitedcontent>he hath.</delimitedcontent><delimitedsymbol symbol="right">”</delimitedsymbol></delimited> When proposing the basic project, the proposal acts as though it has not begun, but within the text we switch to the actual work, actually begun.
   <break/>
The individual headings bear re-reading and follow the numbered and interrelated form Lowthorp had used in his earlier Letter and would use in producing this abridgments. Each number follows logically from the previous, but rather than presenting themselves as narrative paragraphs, they present themselves as separate points. The first outlines the scale of the work along with the overall structure. Lowthorp would have been particularly interested in mathematics, and well suited because of his Latin and instrument work, and physiological here means something closer to physics. The last volume ends up combining medicine, always of interest, with philology. The philological section seems to have been an afterthought since it becomes miscellaneous and philological in the final version.
   <break/>
Headings two through five describe what sorts of papers he will omit. 
   <break/>
He excludes the text of the accounts of books, but includes the article. In the final version, this has the look of a bibliography or works cited at the end of sections. Similarly, he plans to omit calculations of calendrical phenomenon such as tides, eclipses, and astronomical observations. In the final version, many of these remain, perhaps because astronomical researchers found historical data useful and objected in this meeting. The last category of paper omitted are the queries the Society would propose, asking for the details of foreign lands, trips, and observations. His rationale is that the Society no longer seeks the answers to most of these, but if they still want them, they should reprint them separately and send them to the interested people. This change is worth noting: the Transactions saw themselves as circulating among many people, informing them and providing them with a way to contribute. The abridgment will see itself as transmitting information only in one way. Furthermore, the intellectual schemes of the queries provide additional classification schemes. Since Lowthorp aims to provide his own classification scheme, it seems that their contribution to categories of thought would no longer be needed.
   <break/>
These exclusions mark a shift in how the project of the Society is conceived. 
   <break/>
Early on, the Transactions were dialogues with readers and Fellows. People could be invited into the Society, contribute their own thoughts, the Society reflected on current books, and the numbered issues of Transactions might be broadly useful to all classes of people. The abridgment converts portable, stitched, issues into heavy tomes that sit in a library. Given Lowthorp&apos;s reading, we have a shift in how one imagines interacting with texts. Rather than traveling the world, observing things, and reporting them to a central office, Lowthorp imagines a gentleman in his study reviewing scholarship and seeking after truth in libraries.
   <break/>
The sixth item reinforces this conceptual shift. Calling the polite greetings and editorials of the Transactions <delimited detail="quotation-1"><delimitedsymbol symbol="left">“</delimitedsymbol><delimitedcontent>luxuriances</delimitedcontent><delimitedsymbol symbol="right">”</delimitedsymbol></delimited> he proposes to cut them. His rationale here is that his work no longer seeks to <delimited detail="quotation-1"><delimitedsymbol symbol="left">“</delimitedsymbol><delimitedcontent>amuse the reader</delimitedcontent><delimitedsymbol symbol="right">”</delimitedsymbol></delimited> but rather to <delimited detail="quotation-1"><delimitedsymbol symbol="left">“</delimitedsymbol><delimitedcontent>instruct him or illustrate the subject.</delimitedcontent><delimitedsymbol symbol="right">”</delimitedsymbol></delimited> An apparently luxurious writer himself, at least in his early work, it is curious he proposes to cut citations and the evidence of the social interactions behind the activities recorded in the Transactions. Yet, in this item, lies another clever rhetorical trick.
   <break/>
The final printed version of the abridgment gives the articles with the <delimited detail="quotation-1"><delimitedsymbol symbol="left">“</delimitedsymbol><delimitedcontent>sense of their authors entire</delimitedcontent><delimitedsymbol symbol="right">”</delimitedsymbol></delimited> by quoting their exact words. The abridgment merely removes whole sentences and phrases. 
   <break/>
An article will typically have its greetings removed and the final sentences that describe the moral of the experiment and what further experiments might be conducted. The general effect is to focus on facts, but the practical effect is that Lowthorp needn&apos;t write any new materials. As this proposal comes out in 1703 and he completes this major work by 1705, it seems that writing by marking out sections helped him to achieve a high rate of composition. We can even see his working copy in the books sold after his death.
   <break/>
In 1728, four years after his death, Lowthorp&apos;s books were sold. 
   <break/>
Combining his library with that of Thomas Carew, the bookseller Charles Davis sold the books <delimited detail="quotation-1"><delimitedsymbol symbol="left">“</delimitedsymbol><delimitedcontent>Cheap (the Price mark&apos;d in each book)</delimitedcontent><delimitedsymbol symbol="right">”</delimitedsymbol></delimited> at his shop beginning Tuesday, 27 February 172<m:math display="inline" xmlns:m="http://www.w3.org/1998/Math/MathML"><m:mfrac><m:mn>7</m:mn><m:mn>8</m:mn></m:mfrac></m:math>.<descriptionsymbol detail="footnote" insert="13"><sup>13</sup></descriptionsymbol> The impressive collection attests to Lowthorp&apos;s commitment as a scholar as well as his financial success, but includes a description of what must be the copy used for producing the abridgment under <delimited detail="quotation-1"><delimitedsymbol symbol="left">“</delimitedsymbol><delimitedcontent>Miscellanies, quarto,</delimitedcontent><delimitedsymbol symbol="right">”</delimitedsymbol></delimited>
   <break/>
<delimited detail="blockquote-1"><delimitedcontent>744 Philosophical Transactions, from 1665 to 1700. 21 vol. bound in 11. corrected by Mr. Lowthorpe.<descriptionsymbol detail="footnote" insert="14"><sup>14</sup></descriptionsymbol><description chain="footnote" detail="footnote" insert="14"><descriptiontag><sup>14</sup> </descriptiontag><descriptioncontent>ESTC T26223, p. 53</descriptioncontent></description></delimitedcontent></delimited>
   <break/>
Given Lowthorp&apos;s career with the Society, there seem to have been only two reasons for him to review the issues of the Transactions up to 1700, either to produce this abridgment or to study them on his own. Individual study resulting in no product certainly seems possible, but Lowthorp&apos;s enthusiastic contributions suggest that if he was systematically re-reading and correcting the articles of the Transactions, we would have seen him present more new ideas or contribute more ideas from other people. Additionally, the reported rebinding in eleven volumes suggests that something happened to the original bindings. Few other books in the catalog have been rebound and there&apos;s no evidence of Lowthorp creating interleaved copies, so it seems unlikely these eleven volumes represent heavy 
   <description chain="footnote" detail="footnote" insert="13">
    <descriptiontag><sup>13</sup> </descriptiontag>
    <descriptioncontent>ESTC T26223, title page.</descriptioncontent>
   </description>
use. Furthermore, there are other copies of the Transactions, not rebound and not corrected, for sale from Lowthorp&apos;s library. If Lowthorp had taken the print volumes and marked out the passages to exclude, and disbound them to give the printers the materials, then the resulting pages would look corrected. They would have many passages marked out, some words added, and the classification numbers marked on the pages. Furthermore, the compositors reading the marked-up copy against their printed text would have made notes of their corrections to the abridgments on the printed copy, giving the appearance of more corrections.
   <break/>
If the original volumes had been taken apart and marked up, circulated in a printing house, then they would need to be rebound. Since Lowthorp must have been preserving these as a record of his work, why preserve the logical volumes that are needed for reference? Rebinding it in eleven volumes makes finding a particular article more difficult, but makes perfect sense if you have multiple copies of the Transactions and this one is just the working copy for the abridgment. Thus I think it&apos;s probable that this corrected copy is the printers&apos; copy used to produce the abridgment. 
   <section chain="subsection" detail="subsection" explicit="bibliographical-argument" id="bibliographical-argument" implicit="36" level="4" reference="bibliographical-argument">
    <sectioncaption>
     <sectiontitle>Bibliographical argument</sectiontitle>
    </sectioncaption>
    <sectioncontent>
Vol. 1: 
     <break/>
4<sup>o</sup>: [*]<sup>4</sup> 2*<sup>2</sup> a–n<sup>2</sup> B–3M<sup>4</sup> 4A–4U<sup>4</sup> 4X<sup>2</sup> [$2 (−2* a–n 4X2) signed; d1 signed D1]; 342 leaves, pp. [32] 1–454 543–708[=620] (misnumbering 200 as 100); 1–7 engraved plates (pl. 6 as <delimited detail="quote-1"><delimitedsymbol symbol="left">‘</delimitedsymbol><delimitedcontent>7</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited>), pl. 1 facing pp. 54 (H3<sup>v</sup>), 2: 190 (2B3<sup>v</sup>), 3: 388 (3D2<sup>v</sup>), 4: 556 (4B2<sup>v</sup>), 5: 626 (4L1<sup>v</sup>), <delimited detail="quote-1"><delimitedsymbol symbol="left">‘</delimitedsymbol><delimitedcontent>7</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> [=6]: 660 (4P2<sup>v</sup>), 7: 698 (4U1<sup>v</sup>)
     <break/>
To summarize a great deal of research, it is probable based on signing and pagination that 4A-4N were printed first; it is probable based on typographical style that 4A-4N were printed first; it is probable based on type damage, catchwords, and text that 4A-4N were printed first; and it is probable that 4A-4N were printed first based on the paper evidence. Based on these independent probabilities, I&apos;d say it&apos;s most likely that 4A-4N were printed first. 
     <break/>
Perhaps B-C were begun along the way, but 4A must have been the very first sheet of the volume printed.
     <break/>
Knowing this is first helps with the question of the specimen. Since the specimen was probably an independently set example, the type could have been reused. Indeed, unless there was something wrong with the type, reusing it would save time. A good specimen should demonstrate the headings and basic features of the book and, delightfully, 4A begins the section on acoustics. It might be too much of a coincidence that Lowthorp was working as James Brydges&apos;s librarian and that Brydges was also Handel&apos;s patron, but then again Lowthorp might have been helping Brydges plan musical venues.
     <break/>
The regularity of volumes 2 and 3, and the higher quality paper at the beginning of both volumes, suggest that their beginnings were produced in the same batch. As the printed prospectus says the first volume is in progress, and the copy nearly ready for the next two, it would make sense for the entrepreneurial bookseller to begin to print faster by working on volumes 2 and 3 at the same time, that way he could meet the upcoming deadline.    </sectioncontent>
   </section>
  </sectioncontent>
 </section>
</document>