/* images for file doc */

@namespace context url('http://www.contextgarden.net/context/export') ;


image[id="image-1"], div.image[id="image-1"] {
    display           : block ;
    background-image  : url('../images/mould1.jpg') ;
    background-size   : 100% auto ;
    background-repeat : no-repeat ;
    width             : 13.208cm ;
    height            : 9.287cm ;
}

image[id="image-2"], div.image[id="image-2"] {
    display           : block ;
    background-image  : url('../images/mould2.jpg') ;
    background-size   : 100% auto ;
    background-repeat : no-repeat ;
    width             : 13.208cm ;
    height            : 11.144cm ;
}

image[id="image-3"], div.image[id="image-3"] {
    display           : block ;
    background-image  : url('../images/mould3.jpg') ;
    background-size   : 100% auto ;
    background-repeat : no-repeat ;
    width             : 13.208cm ;
    height            : 10.401cm ;
}

image[id="image-4"], div.image[id="image-4"] {
    display           : block ;
    background-image  : url('../images/mould4.jpg') ;
    background-size   : 100% auto ;
    background-repeat : no-repeat ;
    width             : 13.208cm ;
    height            : 6.501cm ;
}