<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>

<!--

    input filename   : doc
    processing date  : 2023-03-09 05:30:01+18:00
    context version  : 2021.03.05 19:11
    exporter version : 0.35

-->

<?xml-stylesheet type="text/css" href="styles/doc-defaults.css" ?>
<?xml-stylesheet type="text/css" href="styles/doc-images.css" ?>
<?xml-stylesheet type="text/css" href="styles/doc-styles.css" ?>

<document author="J. P. Ascher, jpa4q@virginia.edu" context="2021.03.05 19:11" date="2023-03-09 05:30:01+18:00" file="doc" href="doc" language="en" title="Handout" version="0.35" xmlns:m="http://www.w3.org/1998/Math/MathML">
 <metadata>
 </metadata>
Handout 
 <break/>
J. P. Ascher, jpa4q@virginia.edu 
 <break/>
10 March 2023 
 <section chain="section" detail="section" explicit="lowthorps-scheme" id="lowthorps-scheme" implicit="1" level="3" reference="lowthorps-scheme">
  <sectioncaption>
   <sectiontitle>Lowthorp&apos;s scheme</sectiontitle>
  </sectioncaption>
  <sectioncontent>
I. Mathematics: 
   <break/>
1. Geometry, algebra, arithmetic; 2. Trigonometry, surveying; 3. Optics; 4. Astronomy; 5. Mechanics, acoustics; 6. Hydrostatics, hydraulics; 7. Geography, navigation; 8. Architecture, ship-building; 9. Perspective, sculpture, painting; 10. Music.
   <break/>
II. Physiology: 
   <break/>
1. Meteorology, pneumatics; 2. Hydrology; 3. Mineralogy; 4. Magnetics; 5. Zoology.
   <break/>
III. Anatomy, physic, chemistry: 
   <break/>
1. Anatomy, physic: i. Structure, external parts, and common teguments; ii. Head; iii. Thorax; iv. Abdomen; v. Humors and general affections; vi. Bones, joints, muscles; vii. Monsters; vii. Period of human life; 2. Pharmacy, chemistry.
   <break/>
IV. Philology, miscellanies: 
   <break/>
1. Philology, grammar; 2. Chronology, history, antiquities; 3. Voyages and travels; 4. Miscellaneous.
   <break/>
Jones’s continuation follows a similar outline, as do all the succeeding volumes:
   <break/>
1. Mathematical papers: 
   <break/>
1. Geometry, arithmetic, algebra, logarithmotechny; 2. Optics; 3. Astronomy; 4. Mechanics, acoustics; 5. Hydrostatics, hydraulics; 6. Geography, navigation; 7. Music.
   <break/>
2. Physiological papers: 
   <break/>
1. Physiology, meteorology, pneumatics; 2. Hydrology; 3. Mineralogy; 4. Magnetics; 5. Agriculture, botany.
   <break/>
3. Zoology, &amp;c. anatomy, physic, chymistry: 
   <break/>
1. Zoology, and the anatomy of animals; 2. Anatomy, diseases: 1. General and skin; 2. Head; 3. Neck, thorax, heart; 4. Abdomen; 5. Humours and general affections of the body; 6. Bones, joints, and muscles; 7. Pharmacy, chymistry.
   <break/>
4. Philology, miscellanies: 
   <break/>
1. Manuscripts, printing; 2. Chronology, history, antiquities; 3. Travels, voyages; 4. Miscellaneous.  </sectioncontent>
 </section>
 <section chain="section" detail="section" explicit="proposing-the-abridgment" id="proposing-the-abridgment" implicit="2" level="3" reference="proposing-the-abridgment">
  <sectioncaption>
   <sectiontitle>Proposing the abridgment</sectiontitle>
  </sectioncaption>
  <sectioncontent>
Having established himself as a member of the Royal Society, Lowthorp eventually proposes two ambitious projects simultaneously.
   <break/>
[
   <break/>
Page 20:]
   <break/>
[
   <break/>
…]
   <break/>
[
   <break/>
centered:] 5 May 1703.
   <break/>
[
   <break/>
…]
   <break/>
[
   <break/>
Page 21:]
   <break/>
[
   <break/>
…]
   <break/>
 M<sup>r</sup> Lowthorp&apos;s written Proposalls for Instruments design&apos;d for advancing Astro- nomy, &amp; perfecting Navigation , &amp; for Experiments of good Use in Mechanics, Optics, [<delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>for</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> inserted between <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>&amp;</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> and <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>Experiments</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited>, i.e. <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>&amp; ‸<sup>for</sup> Experiments</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited>] &amp; Physics. He was desired by the Society, in the first place to prosecute those Ex- periments which relate to Telescopes, and to bring to the next Meeting, a List of such Experiments as are neceſsary thereunto.
   <break/>
 M<sup>r</sup> Lowthorp also presented a Proposal for Printing an Abridgement of the Philosophical Transactions, together with a Printed Specimen of such an Abridgement. His Specimen &amp; this Design were approv&apos;d by the Society, &amp; he was desired to proceed therein.
   <break/>
[
   <break/>
…]<descriptionsymbol detail="footnote" insert="1"><sup>1</sup></descriptionsymbol>
   <description chain="footnote" detail="footnote" insert="1">
    <descriptiontag><sup>1</sup> </descriptiontag>
    <descriptioncontent>UkLoRS JBO/11/30 (pp. 20–21)</descriptioncontent>
   </description>
  </sectioncontent>
 </section>
 <section chain="section" detail="section" explicit="the-manuscript-proposal" id="the-manuscript-proposal" implicit="5" level="3" reference="the-manuscript-proposal">
  <sectioncaption>
   <sectiontitle>The Manuscript Proposal</sectiontitle>
  </sectioncaption>
  <sectioncontent>
The original manuscript proposal is kept within the Classified Papers at the Royal Society, a series appropriately enough, reorganized in 1720s along the same classification scheme developed by Lowthorp.<descriptionsymbol detail="footnote" insert="2"><sup>2</sup></descriptionsymbol> The volume contains a number of book-related manuscripts and this proposal is the 59th item. It is written on a bifolium, 2<sup>o</sup>: χ<sup>2</sup>; 4 pages, [unnumbered, pp. 1-4], on paper watermarked with the London coat of arms (Churchill 239--244) and countermarked <delimited detail="quotation-1"><delimitedsymbol symbol="left">“</delimitedsymbol><delimitedcontent>C T</delimitedcontent><delimitedsymbol symbol="right">”</delimitedsymbol></delimited> (stock, % 13 | 17 | 24 | 25 | 2 [ 23 | 23 ] 1 | 25 | 24 | 24 | 24 | 25 | 21 [ 4 | 6 ] 15 [ 3 | 6 ] 19 | 24 | 23 | 16 % );<descriptionsymbol detail="footnote" insert="3"><sup>3</sup></descriptionsymbol> the leaf measures 301 × 194 mm and has 33 lines (on p. 2), in cursive, with heavier strokes at the ends of words and on descenders. Page 2 continues across the gutter onto p.3 at the ends of some lines, suggesting this was written open to both pages. It is dated <delimited detail="quote-1"><delimitedsymbol symbol="left">‘</delimitedsymbol><delimitedcontent>May 5: 1702.</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> on p. 4 and <delimited detail="quote-1"><delimitedsymbol symbol="left">‘</delimitedsymbol><delimitedcontent>Apr. 12. 1703</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> on p. 1. It seems likely that 21 April 1703 reflects Lowthorp&apos;s dating and 5 May 1702 is later, perhaps written by the Secretary at the meeting where it was read. The year, 1702, is almost certainly wrong. The inner margin of p. 1 is discolored with its, presumably, previous pasting in another guard book. There are inked fingerprints on p.1, possibly oil-based printers&apos; ink by the spread and show-through. Page 4 is faintly discolored into four folded panels measuring 81 × 194 mm. In the lower left of p.1 a penciled cross, probably Dr. Stacks&apos;s, indicates this item has been counted. Modern penciled numbers <delimited detail="quote-1"><delimitedsymbol symbol="left">‘</delimitedsymbol><delimitedcontent>175</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> on p. 1 and <delimited detail="quote-1"><delimitedsymbol symbol="left">‘</delimitedsymbol><delimitedcontent>176</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> on p. 3 refer to the foliation of the present volume.
   <break/>
[
   <break/>
Next seven lines, centered:] Apr. 12. 1703
   <break/>
Propoſalls for Printing The Philosophicall Transactions and Collections [pen skip after <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>Transactions</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited>] To the End of the Year j700. Abridg&apos;d and Diſpoſ&apos;d under Generall Heads in III. Volumes.
   <break/>
By J. Lowthorp. M.A.&amp;F.R.S. [pen skip before <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>M.A.</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited>]
   <break/>
The Philoſophicall Transactions are well known to be an Excellent Regiſter of many Valuable Experiments, and a Cu⹀ ⹀rious Collection of such Diſcourſes , as being too ſhort to be Printed alone, were in great Danger of being loſt: And have been publiſhed almoſt every Month (some few Years of Interruption excepted) since the begining of the Year i665, by the particular Encouragement of the Royall Society . But the generall Appro ⹀bation they have met with, both at home and abroad , has long since made them so scarce , that a compleat Set is not to be pro⹀ ⹀cur&apos;d without much trouble ,and not to be purchaſ&apos;d under 15.£. And yet the vaſt Bulk of 22. thin Volumes in 4to. to which they are swell&apos;d, and that want of Connection which could — 
   <description chain="footnote" detail="footnote" insert="2">
    <descriptiontag><sup>2</sup> </descriptiontag>
    <descriptioncontent>CMO/3/84</descriptioncontent>
   </description>
   <description chain="footnote" detail="footnote" insert="3">
    <descriptiontag><sup>3</sup> </descriptiontag>
    <descriptioncontent>This notation uses the pipe to indicate a chainline, square brackets to indicate a watermark, and a percent sign to indicate the deckle edge. See David L. Vander Meulen, “The Identification of Paper Without Watermarks: The Example of Pope&apos;s Dunciad,” Studies in Bibliography 37 (1984): 58–81.</descriptioncontent>
   </description>
not be avoided in this manner of Communicating such a Mul⹀ ⹀titude of independent Papers , make it altogether unadviſeable to Reprint them in their preſent Form . The Author therefore of this Abridgement , conceives it may be some Service to the Publique , to Contract them into a leſs Compaſs; and to Range and Diſpoſe them in a better order, under Generall Heads: In the Execution whereof, He (hath for the moſt part ) confin&apos;d himſelf to theſe Rules.
   <break/>
 i. He has divided the whole Work into 3. Volumes; The First contains all the Mathematicall Papers; The Second the — Phyſiologicall; and the First part of the 3d thoſe that are Medicall, the later part of it being reſerved for the [Page 2:] the Phiylologicall and such Miſcellaneous Papers as cannot [<delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>Phiylologicall</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> corrected from <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>Phylologicall</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol> </delimited>by overwriting] properly be reduc&apos;d to any of the former Claſſes. Each of theſe Volumes are subdivided into Chapters , and Generall Heads , under which each Paper is inſerted in the beſt Order their — great Variety will admit of.
   <break/>
 2. He does not think it neceſſary in this Abridgement to retain the Accounts of Books which are added to the End of — each of the Tranſactions , since the Books themſelves are either long ago common in the Hands of such Readers as have Occaſion [tail on <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>n</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> extends to next page] to uſe them , or so near loſt that few will be at the trouble to search for them . Yet that the Inquiſitive may have some Notice of them , He has d added to the End of each Chapter a Catalogue [<delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>has d</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> corrected from <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>had</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> by overwriting] of such of them as Treat profeſtly and principally of that Subject [blot over <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>at</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> in <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>that</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited>] of that Chapter.
   <break/>
 3. The Additions , Emendations, and Refutations , of Books He does not think neceſſary to be retained here, becauſse such remarks can be only serviceable to thoſe who have the Books . And therefore He contents himſelf with Directing his Readers to the Tranſactcions [pen skip over <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>e</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> in <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>Directing</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited>; <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>Tranſactcions</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol> </delimited>corrected from <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>Tranſaccions</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> by overwriting] themſelves for such Particulars .
   <break/>
 4. There are many Papers which were very Curious at the times [tail of <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>s</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> extends to next page] of their Publication(,as the Calculations of Eclipſes , Lunar [opening parenthesis overwrites comma] Appulſes , Satellite Eclipſes , Tide Tables , and some others of that kind), which are now uſeleſs . Yet to do Juſtice to their Authors [closing parenthesis overwrites comma; tail of <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>s</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> extends to next page] the Titles are inſerted in their proper places.
   <break/>
 5. There are another sort of Papers here Omitted which are [dot over first <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>h</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> in <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>which</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited>; tail of <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>e</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol> </delimited>extends to next page] alſo very Curious viz. Inquiries and Directions , upon severall Subjects , and for places seldom viſited , drawn up and diſperſed by Order of the Royall Society · But there being very few who have any Oportunity of satiſfying either themſelves or others in such Particulars , The Author thinks that the Anſwers already given to many of the Enquiries , and the other Diſcourſes upon the same or the like Subjects here retained , will sufficiently supply this want . And therefore he chuſes to recommend it to [Page 3:] the Gentlemen of the Royall Society themſelves to Reprint thoſe Ingenious Papers, and to put them into such Hands as may probably have an Oportunity to make them suitable Returns , rather then to swell theſe Volumes which are deſigned for more gGenerall uſe. In the [<delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>gGenerall</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> corrected from <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>generall</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> by overwriting] mean time He has not fail&apos;d to inſert the Titles of theſe , as well [pen skip between <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>has</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> and <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>not</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited>] as of all other Papers Omitted, at the end of each Chapter to which they properly belong.
   <break/>
 6. He has been very Carefull , in Abridging the remaining Papers, to preſerve the Sence of their Authors entire, and to relate the Hiſtories of Facts with all the Materiall Circumſtances and uſefull Reaſonings thereon . But many of thoſe Papers being writ in the form of Letters and often interſperſed with perſonall Addreſſes; [second d in <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>Addreſſes</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> inserted, Ad‸<sup>d</sup>reſſes] And others of them being frequently interrupted with long Excurſi⹀ ⹀ons and Citations of Books, which for the moſt part rather Amuſe the Reader than either Inſtruct him or Illuſtrate the Subject; This Author humbly hopes that none will think themſelves Injured whilſt He takes a modeſt Liberty of Pruning such Luxuriances .
   <break/>
 7. To cloſe in some Meaſure one of the Chaſmes in the Tranſactions , viz. between the Years i678 and i683. He hath inſe—rt [dash overwrites <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>rt</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> in inſe—rt’] ⹀ed , in their proper places , Dr Hook&apos;s Philoſophicall Collections, being a Work of the same kind and Publiſh&apos;d by him during that Intervall of time.
   <break/>
 8. To make the whole Work more compleat He will add such Ind⹀ ⹀dexes both of Authors and Subjects as Shall be thought of any [<delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>⹀dexes</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> corrected by canceling an apostrophe from <delimited detail="quote-1"><delimitedsymbol symbol="left">‘ </delimitedsymbol><delimitedcontent>⹀dexe’s</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited>] uſe or Advantage to the Readers.
   <break/>
In short the Author of this Abridgement profeſſes that He hath every where deſign&apos;d (according to the beſt of his Under⹀ ⹀ſtanding) to Omit nothing that would be of any Service to the greateſt part of the Readers , and to Burthen them with nothing that could be spar&apos;d without manifeſt Prejudice to the Sence of the severall Ingenious Authors : And that he hath carefully endeavoured that none of their Papers ſhould suffer by paſſing through his Hands. 
   <section chain="subsection" detail="subsection" explicit="bibliographical-argument" id="bibliographical-argument" implicit="10" level="4" reference="bibliographical-argument">
    <sectioncaption>
     <sectiontitle>Bibliographical argument</sectiontitle>
    </sectioncaption>
    <sectioncontent>
Vol. 1: 
     <break/>
4<sup>o</sup>: [*]<sup>4</sup> 2*<sup>2</sup> a–n<sup>2</sup> B–3M<sup>4</sup> 4A–4U<sup>4</sup> 4X<sup>2</sup> [$2 (−2* a–n 4X2) signed; d1 signed D1]; 342 leaves, pp. [32] 1–454 543–708[=620] (misnumbering 200 as 100); 1–7 engraved plates (pl. 6 as <delimited detail="quote-1"><delimitedsymbol symbol="left">‘</delimitedsymbol><delimitedcontent>7</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited>), pl. 1 facing pp. 54 (H3<sup>v</sup>), 2: 190 (2B3<sup>v</sup>), 3: 388 (3D2<sup>v</sup>), 4: 556 (4B2<sup>v</sup>), 5: 626 (4L1<sup>v</sup>), <delimited detail="quote-1"><delimitedsymbol symbol="left">‘</delimitedsymbol><delimitedcontent>7</delimitedcontent><delimitedsymbol symbol="right">’</delimitedsymbol></delimited> [=6]: 660 (4P2<sup>v</sup>), 7: 698 (4U1<sup>v</sup>)
     <break/>
To summarize a great deal of research, it is probable based on signing and pagination that 4A-4N were printed first; it is probable based on typographical style that 4A-4N were printed first; it is probable based on type damage, catchwords, and text that 4A-4N were printed first; and it is probable that 4A-4N were printed first based on the paper evidence. Based on these independent probabilities, I&apos;d say it&apos;s most likely that 4A-4N were printed first. Perhaps B-C were begun along the way, but 4A must have been the very first sheet of the volume printed.    </sectioncontent>
   </section>
  </sectioncontent>
 </section>
</document>